<div class="container">
    <div class="jumbotron text-center">
        <h1>Burger Tracker</h1>
        <hr>
    </div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Available</h2>
                <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>{{burger_name}} <button class="devour" data-id="{{id}}">Devour!</button> </li>
                {{/unless}}
                {{/each}}
                </ul>
            </div>

        <div class="col-6">
            <h2>Devoured Burgers</h2>
                <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>{{burger_name}}</li>
                {{/if}}
                {{/each}}
                </ul>
            </div>
</div>
</div>

<div class="container">
    <div class="jumbotron text-center">
        <h3>Add a Burger Station</h3>
        <form id="greatBurgerForm" action="/api/burgers" method="POST">
        <input type="text" name="burger_name" placeholder="Add Burger Name Here">
        <button>Add Burger</button>
        </form>
    </div>


<script>
    $("#greatBurgerForm").on("submit", (e)=>{
        e.preventDefault();
        const burgerData = {
            burger_name : $('[name="burger_name"]').val()
        }
        $.ajax({
            method: "POST",
            url: "/api/burgers",
            data:burgerData
        }).then(()=>{
            location.reload();
        })
    });

    $(".devour").on("click", function(){
        const burgerId = $(this).data("id");
        const updateRoute = "/api/burgers/"+burgerId;
        const burgerData = {devoured: 1};

          $.ajax({
            method: "PUT",
            url: updateRoute,
            data: burgerData
        }).then(()=>{
            location.reload();
        })
    });
</script>